;FILE:          .editorconfig
;AUTHOR         Otakar Kočí <xkocio00@stud.fit.vutbr.cz>
;TEAM           KVM Switchers FIT BUT
;CREATED:       01/04/2024
;LAST MODIFIED: 01/04/2024
;DESCRIPTION:   Project editor configuration

root = true

[*]
indent_style = space
end_of_line = lf
indent_size = 4
charset = utf-8
insert_final_newline = true

[Makefile]
indent_style = tab