/*
FILE:           styles_font.css
AUTHORS:        Otakar Kočí <xkocio00@stud.fit.vutbr.cz>
                <>
TEAM            KVM Switchers FIT BUT
CREATED:        13/04/2024
LAST MODIFIED:  13/04/2024
DESCRIPTION:    File containing font styles for the calculator
NOTE:           More fonts are actually used in the project (fonts part of font-awesome)
                but these fonts were imported by changes in the library itself
                See src/assets and src/public/styles_font_awesome.css
*/

@font-face {
    font-family: 'Nunito Sans';
    src: url('../assets/nunito_sans.ttf');
}